<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Amped</title>
    <link href="stylesheets/style.css" rel="stylesheet">
          <header>
            <h1><center>Amped</center></h1>
          </header>
  </head>
  <svg id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>

  <mask id="mask">
      <g id="maskGroup">
    </g>
  </mask>
  <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color:#23d98b;stop-opacity:1" />
      <stop offset="20%" style="stop-color:#23b0d9;stop-opacity:1" />
      <stop offset="90%" style="stop-color:#236fd9;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#4e23d9;stop-opacity:1" />
  </linearGradient>
  </defs>
  <rect width="95%" height="100%" fill="url(#gradient)"  mask="url(#mask)"></rect>
  </svg>
  <body>
    <div class="wrapper">
      <section class="main-controls">
    <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>

      <section class="sound-clips">

        <!-- This is left here as a helper for testing the style of the clips
        If you want to edit their appearance without having to record clips,
        uncomment this and reload the page. Remember to comment it again when done!
        <article class="clip">
          <audio controls></audio>
          <p>Sample clip name</p>
          <button class="delete">Delete</button>
        </article>
        -->

      </section>

    </div>


    <!-- Below is your custom application script -->
    <script src="javascripts/recorder.js"></script>
    <script src ="javascipts/.js"></script>
    <script src="javascripts/FileSaver.js"></script>
    <script src ="javascripts/visualizer.js"></script>
  </body>
</html>
